<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ tu }}{{ hypn }}&nbsp;{{ ka }}</h1>
    <p>{{ array_test.a }}</p>
    {% if(tu == "hello") %}}
        <p> Variable "$tu" is "hello" !</p>
    {% elif(ka == "world!") %}
        <p> Variable "$ka" is "world!" !</p>
    {% else %}
        <p> Don't known...</p>
    {% endif %}
</body>
</html>