{% parts_block(css) %}
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
{% endparts_block %}

{% parts_block(content) %}
    <h1 style="color: {% OL(if($color_choice == "morning") | red; else | blue; endif) %}">子テンプレートからの情報</h1>
    {% for($i = 0; $i > 10; $i++) %}
        <p>{{ $i }}</p>
    {% endfor %}
    <h1>配列アクセステスト</h1>
    {{ $assoc_test->hello->thisis->message }}
{% endparts_block %}

{% parts_block(js) %}
    <script src="js/base.js"></script>
    <script src="js/style.js"></script>
{% endparts_block %}

{% assembleTo(frame.html) %}